<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Marionette Contact Manager</title>
  <link href="./assets/css/bootstrap.css" rel="stylesheet">
  <link href="./assets/css/application.css" rel="stylesheet">
</head>

<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <span class="brand">Contact manager</span>
      </div>
    </div>
  </div>

  <div id="main-region" class="container">
    <p>Вот статическое содержимое на веб-странице. Вы заметите, что оно заменяется нашим приложением, как только мы его
      запускаем.</p>
  </div>

  <script type="text/template" id="contact-template">
     <p><%= firstName %> <%= lastName %></p>
  </script>

  <script src="./assets/js/vendor/jquery.js"></script>
  <script src="./assets/js/vendor/json2.js"></script>
  <script src="./assets/js/vendor/underscore.js"></script>
  <script src="./assets/js/vendor/backbone.js"></script>
  <script src="./assets/js/vendor/backbone.marionette.js"></script>

  <script type="text/javascript">
    var ContactManager = new Marionette.Application();

    ContactManager.addRegions({
      mainRegion: "#main-region"
    });

    ContactManager.Contact = Backbone.Model.extend({});

    ContactManager.ContactView = Marionette.ItemView.extend({
      template: "#contact-template",

      events: {
        "click p": "alertPhoneNumber"
      },

      alertPhoneNumber() {
        alert(this.model.escape("phoneNumber"));
      }
    });

    ContactManager.on("start", function () {
      var alice = new ContactManager.Contact({
        firstName: "Alice",
        lastName: "Arten",
        phoneNumber: "555-0184"
      });

      var aliceView = new ContactManager.ContactView({
        model: alice
      });

      ContactManager.mainRegion.show(aliceView);
    });

    ContactManager.start();

  </script>

</body>

</html>